#!/bin/bash

alias chrome-sync='mpw -t x chrome-sync'
alias egrep='egrep --color=auto'
alias ephemere-admin='mpw -t x ephemere-admin'
alias ephemere-root='mpw -t x ephemere-root'
alias evector='mpw -t x eVector'
alias fgrep='fgrep --color=auto'
alias foadmin='mpw -t x foadmin'
alias foroot='mpw -t x foroot'
alias frn='mpw frn'
alias frn-phrase='mpw -p frn'
alias github='mpw -t x github.com'
alias gmail-personal='mpw gmail-personal'
alias gmail-tps='mpw gmail-tps'
alias grep='grep --color=always'
alias jss-prod='mpw -t x jss-prod'
alias l='ls -CF --color=always --group-directories-first'
alias l.='ls -d .* --color=auto --group-directories-first'
alias la='ls -AlF --color=always --group-directories-first'
alias less='less -R'
alias ll='ls -lF --color=always --group-directories-first'
alias ls='ls --color=auto --group-directories-first'
alias lz='ls -AlFZ --color=always --group-directories-first'
alias mc='. /usr/libexec/mc/mc-wrapper.sh'
alias mountt='mount | column -t'
alias mpv='DRI_PRIME=1 mpv'
alias nationalcellulardirectory='mpw -t x nationalcellulardirectory.com'
alias netflix='mpw -t x netflix.com'
alias padmin='mpw -t x padmin'
alias proot='mpw -t x proot'
alias psgrep='ps -ax | grep -v grep | grep'
alias rc='emacs /home/ebeale/.bashrc'
alias reddit='mpw -t x reddit.com'
alias router='mpw -t x wrt1900ac'
alias rvm-restart='rvm_reload_flag=1 source '\''/home/ebeale/.rvm/scripts/rvm'\'''
alias src='source /home/ebeale/.bashrc'
alias ssh-odin='ssh webdev@192.168.56.11'
alias ssh-coa='ssh openstack@192.168.56.56'
alias start-coa='VBoxManage startvm 517146e4-7c00-4d97-96d0-adfbf1aa6530 --type headless'
alias start-odin='VBoxManage startvm 71a07a06-462f-4ed5-9e6f-faf715ddd564 --type headless'
alias typingclub='mpw -t x typingclub.com'
alias usac='mpw -t x -c 6 usac.org'
alias vi='vim'
alias which='(alias; declare -f) | /usr/bin/which --tty-only --read-alias --read-functions --show-tilde --show-dot'
alias xzegrep='xzegrep --color=auto'
alias xzfgrep='xzfgrep --color=auto'
alias xzgrep='xzgrep --color=auto'
alias zegrep='zegrep --color=auto'
alias zfgrep='zfgrep --color=auto'
alias zgrep='zgrep --color=auto'
alias mastodon='mpw -tx zomegagon@mastodon.sdf.org'
alias sdf-recover='mpw -t x zomegagon@sdf.org.question1'
alias sdf='mpw -tx zomegagon@sdf.org'

# alias Assembler='Assembler >/dev/null 2>&1 &'
# alias CPUEmulator='CPUEmulator >/dev/null 2>&1 &'
# alias HardwareSimulator='HardwareSimulator >/dev/null 2>&1 &'
# alias JackCompiler='JackCompiler >/dev/null 2>&1 &'
# alias TextComparer='TextComparer >/dev/null 2>&1 &'
# alias VMEmulator='VMEmulator >/dev/null 2>&1 &'
alias meraki='mpw -tx -c3 meraki.com'
alias mapt='mpw -tx mapt.io'
alias pluralsight='mpw -tx pluralsight.com'
alias lulu='mpw -tx lulu.com'
alias paypal='mpw -tx paypal.com'
alias toby='mpw -tx gettoby.com'
alias coinbase='mpw -tx coinbase.com'
alias tdbank='mpw -tl -c2 tdbank.com'
alias vboxmanage='VBoxManage'
alias sophos='mpw -tx sophos.com'
alias apple-dev-parents='mpw -va tps.apple.developer.parents'
alias apple-dev-pet='mpw -va tps.apple.developer.pet'
alias apple-dev-job='mpw -va tps.apple.developer.job'
alias apple-dev='mpw -va tps.apple.developer'
alias 23andme='mpw -tx 23andme.com'
alias 23andme.pet='mpw -va 23andme.com.pet'
alias ddg='mpw -tx duckduckgo.com'
alias macadmins.slack='mpw -tx macadmins.slack.com'
alias christ='export HISTSIZE=0; export HISTSIZE=1000'
alias pintrest='mpw -tx pintrest.com'
alias amazon='mpw -tl amazon.com'
alias meraki.vpn.carol='mpw -tx meraki.vpn.carol'

# VirtualBox
alias vmanage='VBoxManage'
alias vmlist='vmanage list vms'
alias vmlistl='vmanage list --long vms | less'
alias vminfo='vmanage showvminfo --machinereadable'
alias vmmod='vmanage modifyvm'
alias vmclone='vmanage clonevm'
alias vmimport='vmanage import'
alias vmstart='vmanage startvm --type gui'
alias vmstarth='vmanage startvm --type headless'

