#!/bin/bash

alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=always'
alias l='ls -CF --color=always --group-directories-first'
alias l.='ls -l -d .* --color=auto --group-directories-first'
alias la='ls -AlF --color=always --group-directories-first'
alias lal='ls -AlF --color=always --group-directories-first | less -R'
alias less='less -R'
alias ll='ls -lF --color=always --group-directories-first'
alias ls='ls --color=auto --group-directories-first'
alias lz='ls -AlFZ --color=always --group-directories-first'
alias mc='. /usr/libexec/mc/mc-wrapper.sh'
alias mountt='mount | column -t'
alias mpv='DRI_PRIME=1 mpv'
alias psgrep='ps -ax | grep -v grep | grep'
alias rc='emacs /home/ebeale/.bashrc'
alias rvm-restart='rvm_reload_flag=1 source '\''/home/ebeale/.rvm/scripts/rvm'\'''
alias src='source /home/ebeale/.bashrc'
alias ssh-odin='ssh webdev@192.168.56.11'
alias ssh-coa='ssh openstack@192.168.56.56'
alias start-coa='VBoxManage startvm 517146e4-7c00-4d97-96d0-adfbf1aa6530 --type headless'
alias start-odin='VBoxManage startvm 71a07a06-462f-4ed5-9e6f-faf715ddd564 --type headless'
alias vi='vim'
alias which='(alias; declare -f) | /usr/bin/which --tty-only --read-alias --read-functions --show-tilde --show-dot'
alias xzegrep='xzegrep --color=auto'
alias xzfgrep='xzfgrep --color=auto'
alias xzgrep='xzgrep --color=auto'
alias zegrep='zegrep --color=auto'
alias zfgrep='zfgrep --color=auto'
alias zgrep='zgrep --color=auto'
alias sigrok='sigrok-cli'
alias histc='history -c'
alias clip='/usr/bin/gpaste-client'
alias emacs='emacsclient -nw'

# VirtualBox
alias vmanage='VBoxManage'
alias vmlist='vmanage list vms'
alias vmlistl='vmanage list --long vms | less'
alias vminfo='vmanage showvminfo --machinereadable'
alias vmmod='vmanage modifyvm'
alias vmclone='vmanage clonevm'
alias vmimport='vmanage import'
alias vmstart='vmanage startvm --type gui'
alias vmstarth='vmanage startvm --type headless'
alias vmanagehelp='vboxmanage --help | less'

alias gam='/home/ebeale/bin/gam/gam'

