#!/bin/bash

## Start tmux on every shell login
tmux-start() {
    if which tmux >/dev/null 2>&1; then
        if [[ -z "$TMUX" ]] ;then
            ID="$( tmux ls | grep -vm1 attached | cut -d: -f1 )" # get the id of a deattached session
            if [[ -z "$ID" ]] ;then # if not available create a new one
                tmux new-session
            else
                tmux attach-session -t "$ID" # if available attach to it
            fi
        fi
    fi
}

## Start 9h of rain sleep sounds
rain() {
    local path="$HOME/Music"
    local track="rain.mp3"
    local opts="--no-video"
    local mpv="/usr/bin/mpv"

    nohup "$mpv" "$opts" "$path"/"$track" >/dev/null 2>&1 &
    echo "$!" > /tmp/rain.$!
}

## Add, commit, push functions and aliases
gitrc() {
    _repo="${HOME}/gits/bashrc_stuff"
    _bin="${HOME}/bin"
    _files=('cpm' '.bashrc' '.aliases' '.functions' '.mpw')

    pushd "$_repo" >/dev/null 2>&1

    git pull
    
    for _file in "${_files[@]}"; do
	if [[ -e "${_bin}/$_file" ]]; then
	    cp -L "${_bin}/$_file" "${_repo}/$_file"
	fi

	if [[ -e "${HOME}/$_file" ]]; then
	    cp -L "${HOME}/$_file" "${_repo}/$_file"
	fi

	git add "${_repo}/$_file"
    done

    git commit -m "auto generated message."
    git push origin master
    popd >/dev/null 2>&1
}

## mpw helper function
mpw() {
    _copy() {
        _clips=('pbcopy' 'xclip' 'gpaste-client')
        _use="${_clips[2]}"

        case "$_use" in
            "${_clips[0]}")
                hash "$_use" 2>/dev/null && "$_use" ;;
            "${_clips[1]}")
                hash "$_use" 2>/dev/null && "$_use" ;;
            "${_clips[2]}")
                hash "$_use" 2>/dev/null && "$_use" add-password "" ;;
            *)
                cat; echo 2>/dev/null
                return
        esac

        echo >&2 "Copied!"
    }

    if [[ "$1" = "-h" ]]; then
	# Is help being called? If so, call the binary directly
	${HOME}/bin/mpw -h > /tmp/mpw_help 2>&1
	less /tmp/mpw_help
	rm /tmp/mpw_help
	(exit 0)
    else
	# Empty the clipboard
	:| _copy 2>/dev/null

	# Ask for the user's name and password if not yet known.
	MPW_FULLNAME=${MPW_FULLNAME:-$(ask 'Your Full Name:')}

	# Start Master Password and copy the output.
	printf %s "$(MPW_FULLNAME=$MPW_FULLNAME command mpw "$@")" | _copy

	# For gpaste-client: clear last password after 30 seconds
	if [[ "$_use" = "${_clips[2]}" ]]; then
            ({ _name="$(mktemp -u XXXXXXXXXXXX)";
               gpaste-client rename-password "" "$_name";
               sleep 30;
               gpaste-client delete-password "$_name"; } >/dev/null 2>&1 &)
	fi
    fi
}
export MPW_FULLNAME=Elijah\ Thomas\ Beale
export MP_FULLNAME=Elijah\ Thomas\ Beale
export MPW_ASKPASS="${HOME}/bin/mpw_ask"

## Port open check
port-open() {
    local address="$1"
    local port="$2"
    local aregex="([0-9]{1,3}\.){3}[0-9]{1,3}"
    local pregex="[0-9]{1,5}"

    if [[ "$address" =~ $aregex ]]; then
        if [[ "$port" =~ $pregex ]]; then
            if [[ $(nc -w 5 -z "$address" "$port"; echo $?) = 0 ]]; then
                echo "Port open!"
            else
                echo "Port closed or unreachable..."
            fi
        else
            echo "Please enter a valid port number!"
        fi
    else
        echo "Please enter a valid address!"
    fi
}

## Add new alias
new-alias() {
    echo "$@" >> ~/.aliases
    (gitrc >/dev/null 2>&1 &)
}

## Simple calculator
mcalc() {
    local expr="$*"
    echo "$expr" | bc
}

## Kill a set of chromium processes
## Doesn't work
kill-chromium() {
    pid=$(psgrep cpm | grep $1 | awk '{ print $1 }')

    for _pid in "$pid"; do
	kill -HUP "$_pid"
    done
}

gen-random() {
    local N=$1

    if [[ $N =~ [A-Za-z]*|[\\\!\@\#\$\%\^\&\*\(\)\_\+\|\~\<\>\.\,\[\]\{\}]* ]]; then
       read -d '' usage <<-EOF
	Valid inputs are 129 > N > 2.
	N must be a whole number.
	EOF
       echo "$usage"
       (exit 1)
    fi

    printf $(mktemp -u $(for n in {0..$N}; do printf X; done))
}

chrome() {
    base_dir="${HOME}/.config/google-chrome"
    temp_dir="/tmp/google-chrome"
    default_cache_dir="${HOME}/.cache/google-chrome"
    
    ({ if [[ ! -d "$temp_dir" ]]; then
	   mkdir "$temp_dir"
       fi

       cache_dir="$(mktemp -d -p ${temp_dir} $(for i in {0..64}; do printf X; done))"
       
       google-chrome --fullscreen --disk-cache-dir="$cache_dir" &

       wait $!

       rm -rf ${base_dir}/Local\ State

       FILES=( 'History' 'History-journal' 'History Provider Cache'
	       'Cookies' 'Cookies-journal' 'Current Session' 'Current Tabs'
	       'Top Sites' 'Top Sites-journal' 'Visited Links' 'Web Data'
	       'Web Data-journal' 'Sync Data' 'Local Storage' 'Session Storage'
	       'Storage' 'Last Session' 'Login Data' 'Login Data-journal' )
       
       for FILE in "${FILES[@]}"; do
	   rm -rf ${base_dir}/Default/"$FILE"
       done

       if [[ -d "$default_cache_dir" ]]; then
	   rm -rf "$default_cache_dir"
       fi

       rm -rf "$cache_dir"
       
      } >/dev/null 2>&1 &)
    }
