<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.print.lastPresetPref</key>
	<string>Hold Black and White</string>
	<key>com.apple.print.lastPresetPrefType</key>
	<integer>5</integer>
	<key>com.apple.print.lastUsedSettingsPref</key>
	<dict>
		<key>com.apple.print.preset.id</key>
		<string>com.apple.print.lastUsedSettingsPref</string>
		<key>com.apple.print.preset.settings</key>
		<dict>
			<key>AP_D_InputSlot</key>
			<string></string>
			<key>BookletBinding</key>
			<false/>
			<key>BookletType</key>
			<integer>0</integer>
			<key>ColorModel</key>
			<string>Gray</string>
			<key>DuplexBindingEdge</key>
			<integer>2</integer>
			<key>PaperInfoIsSuggested</key>
			<true/>
			<key>RIAngel</key>
			<string>30</string>
			<key>RIBlack</key>
			<string>0</string>
			<key>RIBrightness</key>
			<string>0</string>
			<key>RIContrast</key>
			<string>0</string>
			<key>RIEnableUserCode</key>
			<string>True</string>
			<key>RIFileName</key>
			<string>None</string>
			<key>RIFolderNumber</key>
			<string>0</string>
			<key>RIJobType</key>
			<string>HoldPrint</string>
			<key>RILineSpace</key>
			<string>70</string>
			<key>RISize</key>
			<string>70</string>
			<key>RIStartNumber</key>
			<string>1</string>
			<key>RIText</key>
			<string>Copy</string>
			<key>RITimeHour</key>
			<string>0</string>
			<key>RITimeMin</key>
			<string>0</string>
			<key>RIUserCode</key>
			<string>Custom</string>
			<key>RIUserId</key>
			<string>Custom</string>
			<key>com.apple.print.PageToPaperMappingAllowScalingUp</key>
			<true/>
			<key>com.apple.print.PageToPaperMappingMediaName</key>
			<string>Letter</string>
			<key>com.apple.print.PageToPaperMappingType</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMColorSpaceModel</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMCopies</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMCopyCollate</key>
			<true/>
			<key>com.apple.print.PrintSettings.PMDestinationType</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMDuplexing</key>
			<integer>2</integer>
			<key>com.apple.print.PrintSettings.PMFirstPage</key>
			<integer>1</integer>
			<key>com.apple.print.PrintSettings.PMLastPage</key>
			<integer>2147483647</integer>
			<key>com.apple.print.PrintSettings.PMPageRange</key>
			<array>
				<integer>1</integer>
				<integer>2147483647</integer>
			</array>
			<key>com.apple.print.preset.Orientation</key>
			<integer>1</integer>
			<key>com.apple.print.preset.PaperInfo</key>
			<dict>
				<key>paperInfo</key>
				<dict>
					<key>PMPPDPaperCodeName</key>
					<string>Letter</string>
					<key>PMPPDTranslationStringPaperName</key>
					<string>Letter (8.5 x 11)</string>
					<key>PMTiogaPaperName</key>
					<string>na-letter</string>
					<key>com.apple.print.PageFormat.PMAdjustedPageRect</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<real>768</real>
						<real>588</real>
					</array>
					<key>com.apple.print.PageFormat.PMAdjustedPaperRect</key>
					<array>
						<real>-12</real>
						<real>-12</real>
						<real>780</real>
						<real>600</real>
					</array>
					<key>com.apple.print.PaperInfo.PMCustomPaper</key>
					<false/>
					<key>com.apple.print.PaperInfo.PMPaperName</key>
					<string>na-letter</string>
					<key>com.apple.print.PaperInfo.PMUnadjustedPageRect</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
						<real>768</real>
						<real>588</real>
					</array>
					<key>com.apple.print.PaperInfo.PMUnadjustedPaperRect</key>
					<array>
						<real>-12</real>
						<real>-12</real>
						<real>780</real>
						<real>600</real>
					</array>
					<key>com.apple.print.PaperInfo.ppd.PMPaperName</key>
					<string>Letter</string>
					<key>com.apple.print.ticket.type</key>
					<string>com.apple.print.PaperInfoTicket</string>
				</dict>
			</dict>
			<key>com.apple.print.subTicket.paper_info_ticket</key>
			<dict>
				<key>PMPPDPaperCodeName</key>
				<string>Letter</string>
				<key>PMPPDTranslationStringPaperName</key>
				<string>Letter (8.5 x 11)</string>
				<key>PMTiogaPaperName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMDisplayName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMPPDPaperDimension</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>612</real>
					<real>792</real>
				</array>
				<key>com.apple.print.PaperInfo.PMPaperName</key>
				<string>na-letter</string>
				<key>com.apple.print.PaperInfo.PMUnadjustedPageRect</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>768</real>
					<real>588</real>
				</array>
				<key>com.apple.print.PaperInfo.PMUnadjustedPaperRect</key>
				<array>
					<real>-12</real>
					<real>-12</real>
					<real>780</real>
					<real>600</real>
				</array>
				<key>com.apple.print.PaperInfo.ppd.PMPaperName</key>
				<string>Letter</string>
				<key>com.apple.print.ticket.type</key>
				<string>com.apple.print.PaperInfoTicket</string>
			</dict>
			<key>com.apple.print.ticket.type</key>
			<string>com.apple.print.PrintSettingsTicket</string>
			<key>job-sheets</key>
			<string>none</string>
		</dict>
	</dict>
</dict>
</plist>
